<!DOCTYPE html>
<html>
    <head>
        <title>Ciara's Test Site</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
      
    </head>
    
    <body>
        <h5 class="centerText"> Navigation Tabs :: Click on a tab to learn more</h5>
        <nav background="img/img.png" width="400">
            <a href="/">   HOME   </a>
            <a href="/experience">Info & Locations </a>
            <a href="/contact"> Contact or Appointments</a>
            <a href="/resume"> My Story </a>
            <a href="/me"> Blog </a>
            <a href="/education"> Credentials </a>
            
        </nav>
        <marquee><h4>Welcome to Blends Mobile Style Service  </h4></marquee>
        
        
            
                        <br/><br/>