<% include partials/head.ejs %>

        <h1> Networking and Useful Links </h1>
        <br/><br/>
        
        <img src="/img/jupiter.png" alt="jupiter" />
        
        <ul class="move">
            <h4>Fill:</h4>            
            <li><a href="http://www.google.com">Instagram</a><br></li><br> 
            <li><a href="http://www.google.com">Facebook</a><br></li><br>   
            <li><a href="http://www.google.com">Some Web Link</a><br></li><br>  
            <li><button onclick="onlineBooker()" class="center">Book Now!</button></li><script>function onlineBooker(){var myWindow = window.open("https://www.booker.com/mobile-app", "", "width=500, height=700");}</script>

            
        </ul>
        
        <h1 id="blogpost1"></h1>
        <h1 id="blogpost"></h1>
        
        <p class="move2">  </p>

    
<% include partials/footer.ejs %>
