<% include partials/head.ejs %>
        <h1 class="centerText"> Title </h1>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/img.png" width="300" alt=""/>
        
        <button onclick="onlineBooker()">Book Now!</button><script>function onlineBooker(){var myWindow = window.open("https://www.booker.com/mobile-app", "", "width=500, height=700");}</script>
        
           <h3> Title here:  </h3>
                    <ul id="fill1" style="list-style-type:circle;">
                <h3 class"centerText">List</h3>
                    <li>HTML 5</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>BootStap</li>
                    <li>node.js</li>
                
                    
                
                <h3 class"centerText"List2</h3>
                    <li>Express</li>
                    <li>Nodemon</li>
                    <li>ejs</li>
        
<% include partials/footer.ejs %> 