<% include partials/head.ejs %>
        <h1 class="centerText"> Welcome to Visual <strong>Blends</strong> </h1>
        <h6 class=center>Men's Mobile hair Styling</h6>
        
        <p class="centerText">cite is currently<strong>under construction</strong> </p>
        
        <h3 class="centerText">Info:</h3>
        <p></p>
        
        <img class="centerIMG" src="/img/test.jpg" width="300" alt="big sur, ciara and kyle :-)"/>
        
        <button onclick="onlineBooker()" class="center">Book Now!</button><script>function onlineBooker(){var myWindow = window.open("https://www.booker.com/mobile-app", "", "width=500, height=700");}</script>
        
           <h3>  </h3>
                    <ul id="locations" style="list-style-type:circle;">
                <h3 class"centerText">Locations</h3>
                    <li>Irvine, CA</li>
                    <li>Huntington Beach, CA</li>
                    <li>Mexico</li>
                    <li>Kyle's house</li>
                    <li>dancefloor</li>
                
                    
                
                <h3 class="centerText">Hours of operation:</h3>
                    <li>Monday:   9:00am-5:00pm</li>
                    <li>Tuesday:  9:00am-5:00pm</li>
                    <li>Wensday:  9:00am-5:00pm</li>
                    <li>Thursday: 9:00am-5:00pm</li>
                    <li>Friday:   9:00am-5:00pm</li>
                    <li>Saturday: NONE</li>
                    <li>Sunday:   NONE</li>
        
<% include partials/footer.ejs %> 